PORT=3001
DASHSCOPE_API_KEY="sk-ws-H.EIRDPID.KI4u.MEUCIDjEuz1EuKQ8QRh7tkwmWXyU5aIK3DW0y838vSzorZNUAiEA5IBrA1AHPPChWakwV9xQzb3lvyf_jmYHSAWD-BiI1_0"
DASHSCOPE_MODEL=wanx2.0-t2i-turbo
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/api/v1
